.tabs {

    .tab-headings {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0.5em 10%;
        border-bottom: 0.5px solid var(--highlight-background-color);
        color: var(--text-color__light);

        .tab-title {
            padding: 0 1rem;
        }
    }

    .active {
        font-weight: bold;
        color: black;
    }

    .collapsed { 
        display: none;
    }
}