/* below the fold CSS goes here */
.disclaimer {
    background-color: var(--highlight-background-color);
    font-style: italic;
    font-size: 0.8em;
    
    &.section {
        padding: 0.25em 1em;
    }
}

.section.protected-download {
    display: none;
    padding: 0 0;

    &.available {
        display: block;
    }

    .default-content-wrapper {
        display: grid;
        grid-template-areas: "thanks thanks" 
                             "win mac";
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;

        & > p:first-of-type {
            grid-area: thanks;
        }

        .button-container {
            padding: 0;
            margin: 0;
            grid-area: win;

            &:last-of-type {
                grid-area: mac;
            }

            a {
                margin: 0;
            }
        }
    }
}